/* === Academic Professional Theme === */

body {
	background-color: #F8F4E7; color: #552800;	
	max-width: 50%;
	font: 
	margin: auto;
	text-align: justify;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	font-variant: small-caps;
}


nav ul {
	list-style: none ;
	text-align: center ;
	padding-left: 0 ;
	padding: 5px;
	border: 1px solid black;
}

nav ul li {
	display: inline ;
	margin: .25em ;
}


.site-subtitle {
	text-align: center;
}

footer {
	text-align: center;
}

.container {
  display: grid;
  column-gap: 40px;
  grid-template-columns:1fr 1fr;
}

.rounded img {
	border-radius: 50% ;
}
